<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription2 - Love Alarm</title>
    {% load static %}
    <link rel="stylesheet" href="../static/css/inscription2.css">
</head>

<body>
    <div class="container">
        <h1>Finalisez votre inscription sur 𝓛𝓸𝓿𝓮 𝓐𝓵𝓪𝓻𝓶</h1>
        <form method="post" enctype="multipart/form-data" novalidate></formmethod>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</body>
</html>