<!DOCTYPE html>
<html>
<head>
    <title>Profil de {{ utilisateur.username }}</title>
</head>
<body>
    <h1>Profil de {{ utilisateur.username }}</h1>
    <p>Nom : {{ utilisateur.first_name }} {{ utilisateur.last_name }}</p>
    <p>Email: {{ utilisateur.email }}</p>
    <p>Age: {{ utilisateur.profile.age }}</p>
    <p>Sexe : {{ utilisateur.profile.sexe }}</p>
    <p>Bio: {{ utilisateur.profile.bio }}</p>
    <p>Localisation : {{ utilisateur.profile.localisation }}</p>
    <p>Intérêts : 
        {% for interet in utilisateur.profile.interet.all %}
            {{ interet.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <img src="{{ utilisateur.profile.photo_de_profil.url }}" alt="Photo de profil" width="500">
</body>
</html>