body {
    font-family: Arial, sans-serif;
    background-color: #fce6e6;
    margin: 10px 0px 10px 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: 50px ;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    position: relative;
    background: linear-gradient( to bottom, rgb(255,255, 255, 0), rgba(255,255,255,1) ), url("../images/plage\ copy.jpg") repeat; 
}
    
.from-contrainer {

    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #b80808;
    margin-top : 50px;
}
h1 .brand 

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#passions {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #123cd6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #142ef1;
}